/* Color Theme Swatches in Hex */
.goldenrod-1-hex {
    color: #FF9E18;
}

.goldenrod-2-hex {
    color: #C4D7ED;
}

.goldenrod-3-hex {
    color: #ABC8E2;
}

.goldenrod-4-hex {
    color: #375D9A;
}

.goldenrod-5-hex {
    color: #183174;
}


body {
    background-color: white;
    margin: 0px;
}

#wrapOut {
    width: 100%;
    text-align: center;
}

#wrapIn {
    width: 100%;
    margin: 0 auto;
    background: url(bkgd.jpg);
    background-size: 900px 425px;
    background-repeat: repeat-x;
}

#masthead {
    align-content: center;
    width: fit-content;
    height: 150px;
    background-color: white;
    padding: 0px 20px;
    float: left;
}

#masthead2 {
    align-content: center;
    width: auto;
    height: 150px;
    background-color: #C4D7ED;
    /*padding: 10px 30px;*/
}

hr {
    border-color: #183174;
    border-style: solid;
    border-width: 20px;
    margin: 0;

}

h1 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #183174;
}

h2 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 0px;
    color: #375D9A;
}

h3 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 0px;
    color: #375D9A;
}

h4 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

h5 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 300;
    font-size: 48px;
}

p {
    text-align: justify;
    display: inline-block;
    width: 650px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0px;
}

.gallery {
    margin: 20px 0px 5px 0px;
    text-align: center;
    border: 4px solid white;
}