/* Color Theme Swatches in Hex */
.goldenrod-1-hex {
    color: #FF9E18;
}

.goldenrod-2-hex {
    color: #C4D7ED;
}

.goldenrod-3-hex {
    color: #ABC8E2;
}

.goldenrod-4-hex {
    color: #375D9A;
}

.goldenrod-5-hex {
    color: #183174;
}


body {
    margin: 0px;
    min-width: 500px;
}

#wrapOut {
    width: 100%;
    text-align: center;
    /*background-color: turquoise;*/
}

#wrapIn {
    margin:auto;
    max-width: 900px;
    /*background: url(images/bkgd.jpg);
    background-size: 900px 425px;
    background-repeat: repeat-x;
    background-color: turquoise;*/
}

#masthead {
    width: fit-content;
    height: 140px;
    background-color: white;
    padding: 0px 20px;
    float: left;
    margin-bottom: 0px;
}

#masthead2 {
    width: auto;
    height: 140px;
    background-color: #C4D7ED;
    margin-bottom: 0px;
}

hr {
    border-color: #183174;
    border-style: solid;
    border-width: 20px;
    margin: 0px;
}

    .footer {
    /*border-color: #183174;
    border-style: solid;*/
    border-width: 1px;
    margin: 0;
}

h1 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #183174;
}

h2 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 0px;
    color: #375D9A;
}

h3 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 0px;
    color: #375D9A;
}

h4 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

h5 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 300;
    font-size: 48px;
}

p.artOf {
    columns: 2;
    text-align: justify;
    display: inline-block;
    max-width: 95%;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0px;
}

.address {
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    background-color: #183174   ;
    padding: 5px 0px 15px 0px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 500;
}

#gallery {
    max-width: 95%;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

